Checks:                       'readability-identifier-naming,clang-analyzer-*,modernize-use-override, cppcoreguidelines-prefer-member-initializer, -cppcoreguidelines-*, modernize-use-nullptr, clang-diagnostic-*, misc-include-cleaner'
WarningsAsErrors:             '*'

# IMPORTANT: Set HeaderFilterRegex as shown below.
# Do not set it to '.*', for example.
HeaderFilterRegex:            ''

CheckOptions:
  - key:             readability-identifier-naming.LocalVariableCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ClassConstantCase
    value:           'UPPER_CASE'
  - key:             readability-identifier-naming.ClassConstantPrefix
    value:           ''
  - key:             readability-identifier-naming.PrivateMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.ProtectedMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.ProtectedMemberPrefix
    value:           'm_'
  - key:             readability-identifier-naming.PublicMemberCase
    value:           'camelBack'
  - key:             readability-identifier-naming.PublicMemberPrefix
    value:           ''
  - key:             readability-identifier-naming.ParameterCase
    value:           'camelBack'
  - key:             misc-include-cleaner.IgnoreHeaders
    value:           '.*[.]hpp'
